<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdventureWorks.Data.TableAdapter.Properties.Settings.AdventureWorks2012ConnectionString"
            connectionString="Data Source=MATTHEWMCGOA180\MAIN;Initial Catalog=AdventureWorks2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>